#site-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#header {
  flex: 1;
}

input.btn {
  background: #3498db;
  background-color: #2980b9;
  /*-webkit-box-shadow: 0 1px 3px #666666;
    -moz-box-shadow: 0 1px 3px #666666;
    box-shadow: 0 1px 3px #666666;*/
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  color: #ffffff;
  font-size: 22px;
  padding: 12px 24px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

input.btn:hover {
  background: #3cb0fd;
  text-decoration: none;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

input.btn:active {
  box-shadow: none;
}

.hyp {
  color: #ffffff;
  text-decoration: none;
}

.txt {
  border-radius: 5px;
  margin-top: 20px;
  background: #ffffff;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: 1px solid #3498db;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-image: url(private.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right bottom;
  font-family: Arial, Helvetica, sans-serif;
}

.copyrt {
  margin-top: 20px;
}

#header h1,
#header h3 {
  line-height: 1;
}

#header h1 em,
#header h3 em {
  color: #d23112;
  font-style: normal;
}

#header h1 {
  font-size: 58px;
  margin: 10px auto 0;
  font-weight: bold;
}

#header h3 {
  line-height: 125%;
  font-family: Arial, Helvetica, sans-serif;
  color: #757880;
  margin-top: 2%;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 3%;
  font-weight: normal;
  font-size: 20px;
}

@media (max-width: 600px) {
  body {
    background-size: 40%;
  }
  #header h1 {
    font-size: 50px;
  }
  #header h3 {
    margin-left: 10%;
    margin-right: 10%;
  }
  .vl {
    display: none;
  }
}

ul.share-buttons {
  list-style: none;
  padding: 0;
}

ul.share-buttons li:first-child {
  padding-left: 0;
}

ul.share-buttons li {
  display: inline;
  padding-left: 2px;
  padding-right: 2px;
}

ul.share-buttons li:last-child {
  padding-right: 0;
}

ul.share-buttons .sr-only {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.center {
  text-align: center;
}

a > .star-button {
  font-size: 20px;
}

.copyrt > div > span > a {
  text-decoration: none !important;
}

a > .creator {
  font-weight: 800;
  font-size: 18px;
  color: #3498db;
}

.code-link {
  font-size: 16px;
}

.footer-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.footer-content > span {
  margin: 10px;
}

.vl {
  width: 2px;
  border-radius: 1px;
  background-color: black;
  height: 40px;
}
